/* Resetting */
* {
    padding: 0;
    margin: 0;
}

/* Body styling */
body {
    background-image: linear-gradient(to right, #657ced, #7753acc5);
}

/* Styling for boxes */
.box, .box2, .box3 {
    width: 450px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    background: #fff;
    box-shadow: -16px -18px #001;
    margin-top: 53px;
    transition: .6s;
    overflow: hidden;
}

/* Heading 1 styling */
h1 {
    font-family: system-ui, -apple-system;
    font-size: 28px;
    margin: 20px 0;
}

/* Heading 2 styling */
h2 {
    font-family: sans-serif;
    margin-bottom: 20px;
}

/* Additional styling for Player Two heading */
.playertwo h2 {
    margin-top: 20px;
}

/* Styling for input elements */
input {
    padding: 13px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* Styling for buttons */
.playeronebutton, .playertwobutton, .playerthreebutton, .playerfourbutton{
    padding: 11px 15px;
    border: none;
    background: #118FE9;
    border: 1px solid #118FE9;
    color: white;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    transition: .3s all linear;

}
.playeronebutton:hover, .playertwobutton:hover, .playerthreebutton:hover, .playerfourbutton:hover{
    color: #118FE9;
    background: white;
}
/* Player Two initially hidden */
.playertwo {
    display: none;
}

/* Styling for success messages */
.success, .success3, .success4 {
    background-color: #4ade8070;
    width: 300px;
    margin: auto;
    font-size: 18px;
    color: #2b583d;
    font-family: Arial;
    padding: 4px 0;
    margin-top: 15px;
    border-radius: 5px;
    display: none;
    line-height: 30px;
    border: 1px solid #2b583d;
    padding: 10px 5px;
}

/* Styling for chance messages */
.chance, .chance4, .chance3 {
    font-size: 16px;
    font-family: sans-serif;
    margin: 20px;
}

/* Styling for Box Two animation */
.box2 {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-288px);
}

/* Styling for Box Three animation */
.box3 {
    visibility: hidden;
    opacity: 0;
    transition: .5s all linear;
}

/* Styling for GIF images */
.gif, .gif2, .gif4 {
    width: 200px;
    margin-top: 10px;
    margin-left: 65px;
}

/* Styling for areas */
.area, .area2, .area3, .area4 {
    display: flex;
    align-items: center;
    width: 350px;
    margin: auto;
    margin-top: 15px;
}

/* Styling for area errors */
.areaerror, .areaerror2, .areaerror3, .areaerror4 {
    width: 70%;
    position: relative;
    background-color: rgba(248, 113, 113, 0.555);
    margin: auto;
    font-size: 18px;
    color: #7F1D1D;
    font-family: Arial;
    padding: 4px 0;
    border-radius: 5px;
    padding: 10px 5px;
    transition: .6s;
    transform: translateY(54px);
    border: 1px solid #DC2626
}

/* Styling for area error paragraphs */
.areaerror p, .areaerror2 p, .areaerror3 p, .areaerror4 p {
    display: inline;
    padding: 10px 18px;
    position: relative;
    background: transparent;
    border: 0;
}

/* Wrapper animation for players */
.playeronewrapper, .playertwowrapper, .playerthreewrapper, .playerfourwrapper {
    transform: translateY(22px);
    transition: 1s all;
}

/* Blinking animation for additional content */
.add::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 11px;
    width: 2px;
    height: 25px;
    background-color: #aa4141;
    animation: blink .8s infinite;
}

/* Keyframe animation for blinking */
@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Styling for area buttons */
.areabutton, .areabutton2, .areabutton3, .areabutton4 {
    width: 30%;
    background: transparent;
    color: #DC2626;
    border: 1px solid #DC2626;
    transition: .6s all linear;
    padding: 10px 15px;
    transform: translateX(110px);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
}
.areabutton:hover, .areabutton2:hover, .areabutton3:hover, .areabutton4:hover{
    color: #7F1D1D;
    background-color: rgba(248, 113, 113, 0.555);
} 
/* Styling for hidden elements */
.hidden {
    visibility: hidden;
    opacity: 0;
}

/* Styling for visible elements */
.visible {
    visibility: visible;
    opacity: 1;
}

/* Styling for input area */
.inputarea {
    display: flex;
    align-items: center;
    width: 350px;
    margin: auto;
}

/* Styling for input within the input area */
.inputarea input {
    width: 65%;
}

/* Styling for button within the input area */
.inputarea button {
    width: 35%;
}

/* Styling for notice messages */
.notice, .notice2, .notice3, .notice4 {
    font-family: sans-serif;
    font-size: 18px;
    width: auto;
    margin: auto;
    line-height: 32px;
    border: 2px double #eb4d4b;
    padding: 0 40px;
    height: 113px;
    display: flex;
    align-items: center;
    margin-top: -23px;
    background: #6c5ce7;
    color: white;
}

/* Styling for notice paragraphs */
.notice p, .notice2 p, .notice3 p {
    display: inline;
}

/* Additional move transformation */
.move {
    transform: translate(0, 0);
}
